//colors

//size

$xsmall: 0.5rem;
$normal: 1rem;
$small: 1.5rem;
$medium: 2rem;
$large: 3rem;
$xlarge: 5rem;
$xxlarge: 7rem;

//breakpoints

$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 640px;
$xsmall-breakpoint: 480px;